*
!README.md
!LICENSE
!.gitconfig
!.gitignore
!.gitattributes
!**.lua

!/.config/
!/.config/**
/.config/grammarly-languageserver/
/.config/grammarly-languageserver/**
/.config/sublime-music/
/.config/sublime-music/**
/.config/tut/accounts.toml
!/.fonts/
!/.fonts/**
!/.screenshots/
!/.screenshots/**
!/.themes/
!/.themes/**
