*
!README.md
!LICENSE
!.gitignore
!.gitattributes

!/.config/
!/.config/**
/.config/grammarly-languageserver/
/.config/grammarly-languageserver/**
/.config/sublime-music/
/.config/sublime-music/**
!/.fonts/
!/.fonts/**
!/.themes/
!/.themes/**
!**.lua
